[submodule "sub2api"]
	path = sub2api
	url = https://github.com/abigmiu/sub2api.git
	ignore = dirty
[submodule "gpt_image_playground"]
	path = gpt_image_playground
	url = https://github.com/abigmiu/gpt_image_playground.git
	ignore = dirty
